* {
    margin: 0px;
    padding: 0px;
    /*Removing all defult styles*/
}

body {
    width: 100%;
    background-color: black;
    color: white;
    margin: 10px;
    text-align: center;
}

header,
section,
footer {
    display: block;
}

#header {
    width: 100%;
}

h1 {
    padding: 30px;
    font: bold 60px Calibri;
    text-align: left;
    border-bottom: 2px solid rgb(4, 243, 252)
}

.content {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    padding-right: 5px;
    /*Flexible box model*/
}

ul {
    list-style-type: none;
}

.side_bar {
    margin: 5px;
    padding: 0px;
    width: 200px;
    height: 100%;
    display: -webkit-box;
    -webkit-box-flex: 1;
    font: bold 20px Calibri;
    color: rgb(141, 141, 141);
    background-color: rgb(31, 30, 30);
}

.side_bar a {
    text-decoration: none;
    color: rgb(194, 191, 191);
}

.display {
    text-align: right;
    display: -webkit-box;
    -webkit-box-flex: 1;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10x;
    font: bold 20px Calibri;
    border-top: 2px solid white;
}