* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    background-color: black;
    color: white;
    margin: 10px;
    text-align: center;
}

header,
nav,
section,
footer {
    display: block;
}

#header {
    width: 100%;
}

h1 {
    padding: 30px;
    font: bold 60px Calibri;
    text-align: left;
    border-bottom: 2px solid rgb(4, 243, 252)
}

#content {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

#dashboard {
    margin: 5px;
    width: 200px;
    border: 2px solid rgb(34, 34, 34);
    font: bold 20px Calibri;
    color: rgb(141, 141, 141);
}

#main_list {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

a {
    text-decoration: none;
    color: rgb(194, 191, 191);
}

#vid {
    list-style: none;
    text-align: center;
    padding: 10px;
    border: 2px none;
    -webkit-box-flex: 1;
    margin: 5px;
    background: rgb(34, 34, 34);
}

#video1 {
    list-style: none;
    text-align: left;
    -webkit-box-flex: 1;
}

#video2 {
    list-style: none;
    text-align: left;
    -webkit-box-flex: 1;
}

#video3 {
    list-style: none;
    text-align: left;
    -webkit-box-flex: 1;
}

#aud {
    list-style: none;
    text-align: center;
    padding: 10px;
    border: 2px none;
    -webkit-box-flex: 1;
    margin: 5px;
    background: rgb(34, 34, 34);
}

#audio1 {
    list-style: none;
    text-align: left;
    -webkit-box-flex: 1;
}

#audio2 {
    list-style: none;
    text-align: left;
    -webkit-box-flex: 1;
}

#audio3 {
    list-style: none;
    text-align: left;
    -webkit-box-flex: 1;
}

#audio4 {
    list-style: none;
    text-align: left;
    -webkit-box-flex: 1;
}

#image {
    text-align: left;
    display: -webkit-box;
    -webkit-box-flex: 1;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10x;
    font: bold 20px Calibri;
    border-top: 2px solid white;
}