* {
    margin: 0px;
    padding: 0px;
    /*Removing all defult styles*/
}

body {
    width: 100%;
    background-color: white;
    color: black;
    margin: 0px;
    text-align: center;
}

header,
section,
footer {
    display: block;
}

#top_header {
    width: 100%;
    position: absolute;
}

h1 {
    margin-left: 200px;
    padding: 30px;
    font: bold 60px Calibri;
    text-align: left;
    border-bottom: 2px solid rgb(4, 243, 252)
}

ul {
    list-style-type: none;
}

.side_bar {
    margin: 0px;
    padding: 0px;
    width: 200px;
    height: 100%;
    position: fixed;
    font: bold 20px Calibri;
    color: rgb(141, 141, 141);
    background-color: rgb(31, 30, 30);
    margin-right: 0px;
}

.side_bar a,
.video_button,
.audio_button {
    padding: 10px 22px 6px 2px;
    text-decoration: none;
    color: rgb(194, 191, 191);
    display: block;
    font-size: 20px;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    text-align: left;
    outline: none;
}

.video,
.audio {
    position: relative;
    display: inline-block;
}

.video_content,
.audio_content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.video_button :hover,
.audio_button :hover {
    color: white;
}

.active {
    background-color: rgb(0, 63, 92);
    color: white;
}

.media_content {
    text-align: right;
    margin-left: 200px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.media_content img {
    margin-left: 0px;
    margin-top: 145px;
    opacity: 0.5;
}

.vid_control_buttons {
    float: left;
    border: none;
}

.aud_control_buttons {
    float: left;
    border: none;
}

#vid_default_bar {
    width: 1100px;
    height: 5px;
    position: relative;
    background: rgb(158, 158, 158);
}

#vid_progress_bar {
    width: 0px;
    height: 5px;
    padding: 1px;
    float: left;
    position: absolute;
    border: none;
    background: rgb(116, 116, 116);
}

#aud_default_bar {
    width: 1100px;
    height: 5px;
    position: relative;
    background: rgb(158, 158, 158);
}

#aud_progress_bar {
    width: 0px;
    height: 5px;
    padding: 1px;
    float: left;
    position: absolute;
    border: none;
    background: rgb(116, 116, 116);
}

.footer {
    margin-left: 200px;
    text-align: center;
    padding: 10x;
    font: 20px Calibri;
    border-top: 2px solid rgb(1, 152, 211);
}